<div id="wrapper">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div>
  
    
    <div id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
        
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Abdel.I</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="page-profile.html"><i class="lnr lnr-user"></i> <span>Mon profil</span></a></li>
            <li><a href="page-login.html"><i class="lnr lnr-exit"></i> <span>Déconnexion</span></a></li>
          </ul>
        </li>
        <!-- <li>
          <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Tableau de bord</span></a></li>
        <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Services</span></a></li>
        <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Formations</span></a></li>
        <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Utilisateurs</span></a></li>

        <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Enseignants</span></a></li>
        <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Maquette</span></a></li>
        
  
      </ul>
    </nav>
  </div>
</div>


</div>